body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

/* CAMBIO EN LA IMAGEN Y SE AGREGÓ SOMBRAS Y MOVIMIENTO */
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Margen inferior entre los contenedores */
    position: relative;
}

.imagen .item {
    position: relative;
    margin: 10px;
    overflow: hidden; /* Ocultar el contenido que se desborde */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transición */
    width: 500px; /* Ancho fijo */
    height: auto; /* Ajustar la altura automáticamente */

}

.imagen .item:hover {
    transform: scale(0.95); /* Para dar el movimiento */
}